<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aceculture.terserahapp" >

    <user-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <user-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <user-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".jadwal_imsak_solat"
            android:label="@string/title_activity_jadwal_imsak_solat" >
        </activity>
        <activity
            android:name=".tempat_berbuka"
            android:label="@string/title_activity_tempat_berbuka" >
        </activity>
        <activity
            android:name=".detail_tempat_makan"
            android:label="@string/title_activity_detail_tempat_makan" >
        </activity>
        <activity
            android:name=".splashscreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetCurrentLocation"
            android:label="@string/title_activity_get_current_location" >
        </activity>
    </application>

</manifest>
